@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?bpn8zs');
  src:  url('fonts/icomoon.eot?bpn8zs#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?bpn8zs') format('truetype'),
    url('fonts/icomoon.woff?bpn8zs') format('woff'),
    url('fonts/icomoon.svg?bpn8zs#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user-logo:before {
  content: "\e900";
}
